@media only screen and (max-width: 1399px) {}

@media only screen and (max-width: 1199px) {
    .highlight-wrap {
        height: 250px;
    }

    .col-44 {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .col-28 {
        flex: 0 0 auto;
        width: 50%;
        margin-bottom: 20px;
    }

    .masked-image {
        height: 600px;
    }

    .floating-ice-1 {
        top: 20%;
        left: 5%;
    }

    .floating-ice-2 {
        top: 60%;
        left: 10%;
    }

    .floating-ice-3 {
        top: 45%;
        left: 80%;
    }
}

@media only screen and (max-width: 991px) {
    .row {
        --bs-gutter-y: 1.5rem;
    }

    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .bottom-top {
        margin-bottom: 100px;
    }

    .bottom-margin {
        margin-bottom: 100px;
    }

    .slider-content {
        width: 75% !important;
    }

    .masked-image {
        height: 500px;
    }

    .product-nutrition-img {
        max-height: 450px;
    }
}

@media only screen and (max-width: 767px) {
    .col-28 {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 20px;
    }

    .floating-ice-1 {
        top: 20%;
        left: 0;
    }

    .floating-ice-2 {
        top: 60%;
        left: 5%;
    }

    .floating-ice-3 {
        top: 45%;
        right: 0;
    }
}

@media only screen and (max-width: 575px) {
    .section-padding {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .bottom-top {
        margin-bottom: 70px;
    }

    .bottom-margin {
        margin-bottom: 70px;
    }

    .slider-content {
        width: 100% !important;
    }

    .highlight-wrap {
        height: 200px;
    }

    .navbar {
        position: static;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .nav-link {
        color: black;
    }

    .navbar {
        padding: 10px 0;
    }
}

@media only screen and (min-width: 1400px) {
    .custom-container {
        max-width: 1340px;
    }
}

@media only screen and (min-width: 1600px) {
    .custom-container {
        max-width: 1576px;
    }
}

@media only screen and (min-width: 992px) {
    .border-end-lg {
        border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    }
}

@media (min-width: 768px) {
    .gy-md-0 {
        --bs-gutter-y: 0 !important;
    }
}

@media only screen and (min-width: 576px) {
    /* Show Dropdown on Hover */
    .navbar .dropdown:hover>.dropdown-menu {
        display: block;
        margin-top: 0;
    }
}