.navbar {
    z-index: 1030;
}

.nav-link {
    color: white;
}

.home-slider {
    background: url('../img/home/slider1.jpg') no-repeat center center/cover;
    width: 100%;
    aspect-ratio: 2 / 1;
    position: relative;
    margin-top: 0;
}

.slider-content {
    color: white;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    text-align: left;
}

.highlight-wrap {
    background-color: #425300;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white
}

.highlight-icon {
    font-size: 50px;
    margin-bottom: 16px;
}

.highlight-wrap:hover .highlight-icon {
    color: #a8cc3c;
}

.product-card-1,
.product-card-2,
.product-card-3 {
    color: white;
    background: url('../img/home/product-1.jpg') no-repeat center center/cover;
    position: relative;
    height: 300px;
}

.product-card-2 {
    color: black;
    background: url('../img/home/product-2.jpg') no-repeat center center/cover;
}

.product-card-3 {
    color: black;
    background: url('../img/home/product-3.jpg') no-repeat center center/cover;
}

.product-card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}